<a href="https://colab.research.google.com/github/abhishek201294/campusx/blob/main/session3_strings_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Program - The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years.

In [ ]:
# Code here
curr_pop = 10000

for i in range(10,0,-1):
  print(i,curr_pop)
  curr_pop = curr_pop/1.1

### Sequence sum

1/1! + 2/2! + 3/3! + ...

In [ ]:
# Code here

n = int(input('enter n'))

result = 0
fact = 1

for i in range(1,n+1):
  fact = fact * i
  result = result + i/fact

print(result)

# Nested Loops

In [ ]:
# Examples -> unique pairs

for i in range(1,5):
  for j in range(1,5):
    print(i,j)

### Pattern 1


*** <br>
**** <br>
***<br>

In [ ]:
# code here

rows = int(input('enter number of rows'))

for i in range(1,rows+1):
  for j in range(1,i+1):
    print('*',end='')
  print()

### Pattern 2

1<br>
121<br>
12321<br>
1234321<br>

In [ ]:
# Code here
rows = int(input('enter number of rows'))

for i in range(1,rows+1):
  for j in range(1,i+1):
    print(j,end='')
  for k in range(i-1,0,-1):
    print(k,end='')

  print()

# Loop Control Statement

- Break
- Continue
- Pass

In [ ]:
for i in range(1,10):
  if i == 5:
    break
  print(i)

In [ ]:
lower = int(input('enter lower range'))
upper = int(input('enter upper range'))

for i in range(lower,upper+1):
  for j in range(2,i):
    if i%j == 0:
      break
  else:
    print(i)

In [ ]:
# Continue
for i in range(1,10):
  if i == 5:
    continue
  print(i)

In [ ]:
for i in range(1,10):
  pass

Strings are sequence of Characters

In Python specifically, strings are a sequence of Unicode Characters

- Creating Strings
- Accessing Strings
- Adding Chars to Strings
- Editing Strings
- Deleting Strings
- Operations on Strings
- String Functions

## Creating Stings

In [ ]:
s = 'hello'
s = "hello"
# multiline strings
s = '''hello'''
s = """hello"""
s = str('hello')
print(s)

In [ ]:
"it's raining outside"

## Accessing Substrings from a String

In [ ]:
# Positive Indexing
s = 'hello world'
print(s[41])

In [ ]:
# Negative Indexing
s = 'hello world'
print(s[-3])

In [ ]:
# Slicing
s = 'hello world'
print(s[6:0:-2])

In [ ]:
print(s[::-1])

In [ ]:
s = 'hello world'
print(s[-1:-6:-1])

## Editing and Deleting in Strings

In [ ]:
s = 'hello world'
s[0] = 'H'

# Python strings are immutable

In [ ]:
s = 'hello world'
del s
print(s)

In [ ]:
s = 'hello world'
del s[-1:-5:2]
print(s)

## Operations on Strings

- Arithmetic Operations
- Relational Operations
- Logical Operations
- Loops on Strings
- Membership Operations

In [ ]:
print('delhi' + ' ' + 'mumbai')

In [ ]:
print('delhi'*5)

In [ ]:
print("*"*50)

In [ ]:
'delhi' != 'delhi'

In [ ]:
'mumbai' > 'pune'
# lexiographically

In [ ]:
'Pune' > 'pune'

In [ ]:
'hello' and 'world'

In [ ]:
'hello' or 'world'

In [ ]:
'' and 'world'

In [ ]:
'' or 'world'

In [ ]:
'hello' or 'world'

In [ ]:
'hello' and 'world'

In [ ]:
not 'hello'

In [ ]:
for i in 'hello':
  print(i)

In [ ]:
for i in 'delhi':
  print('pune')

In [ ]:
'D' in 'delhi'

## Common Functions
- len
- max
- min
- sorted

In [ ]:
len('hello world')

In [ ]:
max('hello world')

In [ ]:
min('hello world')

In [ ]:
sorted('hello world',reverse=True)

## Capitalize/Title/Upper/Lower/Swapcase

In [ ]:
s = 'hello world'
print(s.capitalize())
print(s)

In [ ]:
s.title()

In [ ]:
s.upper()

In [ ]:
'Hello Wolrd'.lower()

In [ ]:
'HeLlO WorLD'.swapcase()

## Count/Find/Index

In [ ]:
'my name is nitish'.count('i')

In [ ]:
'my name is nitish'.find('x')

In [ ]:
'my name is nitish'.index('x')

## endswith/startswith

In [ ]:
'my name is nitish'.endswith('sho')

In [ ]:
'my name is nitish'.startswith('1my')

## format

In [ ]:
name = 'nitish'
gender = 'male'

'Hi my name is {1} and I am a {0}'.format(gender,name)

## isalnum/ isalpha/ isdigit/ isidentifier

In [ ]:
'nitish1234%'.isalnum()

In [ ]:
'nitish'.isalpha()

In [ ]:
'123abc'.isdigit()

In [ ]:
'first-name'.isidentifier()

## Split/Join

In [ ]:
'hi my name is nitish'.split()

In [ ]:
" ".join(['hi', 'my', 'name', 'is', 'nitish'])

## Replace

In [ ]:
'hi my name is nitish'.replace('nitisrgewrhgh','campusx')

## Strip

In [ ]:
'nitish                           '.strip()

## Example Programs

In [1]:
# Find the length of a given string without using the len() function

s = input('enter the string')

counter = 0

for i in s:
  counter += 1

print('length of string is',counter)

enter the stringabhishek
length of string is 8

In [2]:
# Extract username from a given email.
# Eg if the email is nitish24singh@gmail.com
# then the username should be nitish24singh

enter_mail = input('Enter your mail: ')

user_name = enter_mail.split('@')[0]

print(f'Your username is {user_name}')

Enter your mail: abhi.gupta20@gmail.com
Your username is abhi.gupta20

In [6]:
# Count the frequency of a particular character in a provided string.
# Eg 'hello how are you' is the string, the frequency of h in this string is 2.

text = input('Enter your string: ')

char = input('Input char to find: ')

count = 0

for i in text:
  if i == char:
    count += 1

print(count)

Enter your string: hi how are you
Input char to find: o
2

In [7]:
# Write a program which can remove a particular character from a string.

text = input('Enter your string: ')
char = input('Input char to remove: ')

result = ''

for i in text:
  if i != char:
    result += i

print(result)

Enter your string: hello
Input char to remove: e
hllo

In [12]:

# Write a program that can check whether a given string is palindrome or not.
# abba
# malayalam

text = input('Enter your string: ')

n = len(text)
flag = True

for i in range(n-1):
  if text[i] != text[n-1-i]:
    flag = False
    print("Not a palindrome")
    break

if flag:
  print('A palindrome.')

Enter your string: hello
Not a palindrome

In [18]:
# Write a program to count the number of words in a string without split()
text = input('Enter your string: ')

count = 0

for i in text:
  if i == ' ':
    count +=1

print(count)
print('Number of words', count+1)

Enter your string: hi
0
Number of words 1

In [ ]:
text = input('Enter your string: ')
list1 = []
temp = ''

for i in text:
  if i != ' ':
    temp = temp + i
  else:
    list1.append(temp)
    temp = ''

list1.append(temp)
print(list1)

In [14]:
# Write a python program to convert a string to title case without using the title()

In [ ]:
# Write a program that can convert an integer to string.