<a href="https://colab.research.google.com/github/abhishek201294/campusx/blob/main/session_1_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [ ]:
# Write your code here

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [3]:
# Write your code here
celcius = float(input("Enter the temp in celcius"))

faren = celcius *(9/5) + 32

print(faren, 'F')

Enter the temp in celcius25
77.0 F

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [4]:
# Write your code here
a = int(input("Give 1st number:"))
b = int(input("Give 2nd Number:"))

a,b = b,a

print(a)
print(b)

Give 1st number:12
Give 2nd Number:45
45
12

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [7]:
# Write your code here
x1 = int(input('Enter x cord for 1st point'))
y1 = int(input('Enter y cord for 1st point'))
x2 = int(input('Enter x cord for 2nd point'))
y2 = int(input('Enter y cord for 2nd point'))

edis = ((x1-x2)**2 + (y1-y2)**2)**0.5

print(edis)

Enter x cord for 1st point2
Enter y cord for 1st point3
Enter x cord for 2nd point4
Enter y cord for 2nd point5
2.8284271247461903

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [8]:
# Write your code here
p = int(input('Enter the principle'))
r = int(input('Enter the interest rate'))
t = int(input('Enter the time period'))

i = p*r*t/100

print(i)

Enter the principle100
Enter the interest rate2
Enter the time period2
4.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [23]:
# Write your code here
heads = int(input('Enter heads'))
legs = int(input('Enter legs'))

for dogs in range(0,heads+1):
  chickens = heads - dogs
  if 4 * dogs + 2 * chickens == legs:
    print("Dogs are", dogs)
    print('Chicken are',chickens)

Enter heads4
Enter legs2

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [28]:
# Write your code here

n = int(input('Enter a no.'))
sum = n*(n+1)*(2*n +1)/6

print(sum)

Enter a no.5
55.0

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [29]:
# Write your code here
x1 = int(input("Give first term"))
x2 = int(input('Give second term'))
n = int(input("Give which term to calcualte for arithmetic series:"))

nterm = x1 + (n-1)*(x2-x1)

print('The term is',nterm)

Give first term2
Give second term3
Give which term to calcualte for arithmetic series:5
The term is 6

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [ ]:
# Write your code here

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [31]:
# Write your code here

import math

h_t = float(input('height'))
b_t = float(input('breadth'))
l_t = float(input('length'))

h_g = float(input('Enter height of glass'))
r_g = float(input('Enter radius of glass'))

vol_tank = h_t * l_t * b_t
vol_glass = 3.14 * r_g * r_g * h_g

print('no of glasses',math.floor(vol_tank/vol_glass))

height3
breadth4
length5
Enter height of glass6
Enter radius of glass2
no of glasses 0